/* Fonts */
@import 'https://fonts.googleapis.com/css?family=PT+Mono';

@font-face {
    font-family: Romain-Regular;
    src: url('https://static-cashmusic.netdna-ssl.com/www/fonts/romain/RomainText-Regular-WebS.eot');
	src: url('https://static-cashmusic.netdna-ssl.com/www/fonts/romain/RomainText-Regular-WebS.eot?#iefix') format('embedded-opentype'),
	url('https://static-cashmusic.netdna-ssl.com/www/fonts/romain/RomainText-Regular-WebS.woff2') format('woff2'),
	url('https://static-cashmusic.netdna-ssl.com/www/fonts/romain/RomainText-Regular-WebS.woff') format('woff'),
	url('https://static-cashmusic.netdna-ssl.com/www/fonts/romain/RomainText-Regular-WebS.ttf') format('truetype');
    font-weight:100;
}

@font-face {
	font-family: 'Swiss721BT-Black';
	src: url('https://static-cashmusic.netdna-ssl.com/www/fonts/swiss/3228A7_0_0.eot');
	src: url('https://static-cashmusic.netdna-ssl.com/www/fonts/swiss/3228A7_0_0.eot?#iefix') format('embedded-opentype'),
	url('https://static-cashmusic.netdna-ssl.com/www/fonts/swiss/3228A7_0_0.woff2') format('woff2'),
	url('https://static-cashmusic.netdna-ssl.com/www/fonts/swiss/3228A7_0_0.woff') format('woff'),
	url('https://static-cashmusic.netdna-ssl.com/www/fonts/swiss/3228A7_0_0.ttf') format('truetype');
	font-weight:100;
}
 

/* General */

html{
	background:#fff;
	color:#000;
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body{
	background:#fff;
	color:#000;
}

#wrapper, header #constant{
	max-width: none;
}


#main{
	background:#fff;
	color:#000;

}

#main article section{
	padding:0;
	margin:0;
}

#main .article-content{
	padding:36px 0;
}

#main .watt-article{
	padding:10px;
	margin:0 0 36px 0;
}

#main .watt-article h2 a{
	border-color: lime;
}

#main .watt-article h2 a:hover{
	opacity: 1;
	border-bottom: solid 1px lime;
}

#main .flex-items, #main .quaternary-container{
  display: flex;
  flex-wrap: wrap;
}

#main .watt-article.tertiary, #main .watt-article.tertiary-half, #main .watt-article.quaternary{
  display: flex;
  padding:10px;
  margin:0 0 18px 0;
}

#main .watt-article.tertiary .inner, #main .watt-article.tertiary-half .inner, #main .watt-article.quaternary .inner{
   display: flex;
   flex-direction: column;
   background-color: #fff;
   width: 100%;
   position: relative;
}

#main .watt-article.tertiary .inner p, #main .watt-article.tertiary-half .inner p, #main .watt-article.quaternary .inner h3{
	flex: 1 0 auto;
}


#main .watt-article footer{
	padding:0;
}

#main .watt-article img{
	margin:0 0 36px 0;
}

#main .watt-article.writing h3{
	margin:18px 0;
}

#main article section .watt-article p a{
	border-bottom:solid 1px;
	border-bottom-color:lime; 
}


#main article section .watt-article p a:hover{
	border-bottom-color:#000;
}

/* Typography */

#main a{
	color:#000;
}

#main p, #main ul, #main ol{
	font-family:'Romain-Regular','Times New Roman', Times, serif;
	font-size:16px;
	line-height: 26px;
	margin:0 0 18px 0;
}

#main .watt-article ul, #main .watt-article ol{
	margin:0 0 0 20px;
	list-style-type: circle;
}

#main ul li, #main ol li{
	margin:0 0 18px 0;
}

#main p strong{font-family:'Swiss721BT-Black';}

#main h1,#main h2,#main h3,#main h4{
	font-family:'Swiss721BT-Black';
	font-weight:100;
	margin:0;
	border:none;
	word-break: break-word;
	overflow-wrap: break-word;
}

#main h3 a:before, #main h4 a:before, #main h6 a:before{
	background:none;
}

.light h3, .light h4{
	border:none;
}

#main h1{
	margin:0 0 36px 0;
	line-height: 42px;
	letter-spacing: -1px;
}

#main h1, #main h1 a{
	text-transform: uppercase;
	font-size:40.96px;
	overflow-wrap: break-word;
}

#main h2{
	font-size:25.6px;
	margin:0 0 18px 0;
}

#main h1 a{
	border-bottom:solid 5px lime;
	line-height: 54px;
}

#main h1 a:hover{
	border-color: #111;
}

#main h3, #main .read-more{
		font-family:'Swiss721BT-Black';
	font-size:16px;
	line-height: 18px;
}

#main h4{
	font-family: 'PT Mono', monospace;
	font-size: 10px;
	margin:0;
}

#main h4 a, #main article section h4 a{
	text-decoration:underline;
	line-height: 16px;
}

#main h4 a:hover{
	opacity: 0.6;
}

/* Pullquote */

#main .watt-article blockquote:before{
	content: '';
	display: block;
	width:50%;
	border-top:solid 25px #000;
}

#main .watt-article blockquote{
	border-left:solid 25px #000;
	margin:54px 0;
}

#main .watt-article blockquote p{
	font-size:25.6px;
	line-height: 36px;
	display: block;
	padding:36px;
}

#main .watt-article blockquote p em{
	display: block;
	font-size:16px;
	padding:18px 0 0 0;
}

/* Inline image */

#main .watt-article p img{
	margin:18px 0 18px 0;
	border: solid 3px #000;
}

/* Inline article Tags */

#main .watt-article .tags {
	margin:0 0 18px 0;
}

#main .watt-article .author-top {
	margin:0 0 18px 0;
}

#main .tags li{
	margin:0;
	display: inline-block;
}

#main .tags .tag{
	font-size: 10px;
	font-family: 'PT Mono', monospace;
	border:solid 1px #000;
	padding:5px;
}

#main .tags .tag:hover{
	background:#000;
	color:#fff;
	opacity: 1;
}

/* Secondary Posts */

.watt-article.secondary .inner .footer{
	display: inline-block;
	text-align: left;
	width: 100%;
	margin:18px 0 0 0;
}

.watt-article  .author-link{
	text-align:right;
		display: inline-block;
		width:50%;
}

.watt-article .info{
	margin:0 auto 0 0;
	display: inline-block;
	width:50%;
	text-align: left;
}

.watt-article a.info{
	text-decoration:underline;
	font-family: 'Swiss721BT-Black';
}

.watt-article.secondary .featured-video-content{
	margin:0 0 36px 0;
}

.watt-article.secondary .lead-image{
	display: block;
	position: relative;
}

#main article section .watt-article.secondary .lead-image .credit{
	position: absolute;
	bottom:36px;
	right:0;
	background:#000;
	color:#fff;
	padding:5px;
	font-family: 'Swiss721BT-Black';
	font-size:10px;
	text-decoration:underline;
}


/* Quaternary Posts */

#main .watt-article.quaternary{
	margin:0;
}

/* Video Posts*/

#main .featured-carousel .content.video .play-button{
	text-indent: -5000em;
	height:50px;
	width:50px;
	display: block;
	margin:18px auto;
	background-image: url(https://static-cashmusic.netdna-ssl.com/www/img/constant/icon/play-button.svg);
	background-size: 100%;
	opacity: 0.5;
}

#main .featured-carousel .content.video .play-button:hover{
	opacity: 1;
}

/* Backline Posts */

#main .backline-title{
	margin:0;
	padding:0 10px;
}

#main .backline-title img{
	margin:0;
}

#main .backline-subtitle{
	padding:0 10px;
	line-height: 35px;
	margin:6px 0 26px 0;
}

#main .backline-computer{
  display: block;
  height:200px;
  width:100%;
  background-image:url(https://static-cashmusic.netdna-ssl.com/www/img/constant/icon/computer.gif);
  background-size: 120px;
  background-repeat: no-repeat;
  background-position: 50%;
}


/* max-width */

.max-width{
	max-width:1100px;
	margin:0 auto!important;
}

/* Logo */

#collapsed .watt-logo-lrg{
	display: none;
}

#main .watt-logo-lrg{
	margin:71px 0 0 0;
	border:solid 25px #000;
	position: relative;
	z-index: 1000;
	display: block;
	text-align: left;
}

#main .watt-logo-lrg:hover{
	background: linear-gradient(270deg, #ff4600, #ff00bd, #1100ff);
	background-size: 600% 600%;
	-webkit-animation: logo-bg-grad 30s ease infinite;
	-moz-animation: logo-bg-grad 30s ease infinite;
	animation: logo-bg-grad 30s ease infinite;
}


@-webkit-keyframes logo-bg-grad {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes logo-bg-grad {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes logo-bg-grad { 
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

#main .watt-logo-lrg img{
	margin:0;
}

#main .watt-logo-lrg a{
	border:none;
}

#main .watt-logo-lrg{
	-webkit-box-shadow: 0px 5px 20px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 5px 20px 0px rgba(0,0,0,0.3);
    box-shadow: 0px 5px 20px 0px rgba(0,0,0,0.3);
}

.carousel-feature #main .watt-logo-lrg, #main .light .watt-logo-lrg{
	-webkit-filter: invert(100%); /* Chrome, Safari, Opera */
    filter: invert(100%);
    -webkit-box-shadow: 0px 5px 20px 0px rgba(255,255,255,0.3);
    -moz-box-shadow: 0px 5px 20px 0px rgba(255,255,255,0.3);
    box-shadow: 0px 5px 20px 0px rgba(255,255,255,0.3);
}


/* Preserve Aspect */

#main .sixteen-nine{
    position: relative;
    margin:0 0 18px 0;
}


#main .sixteen-nine:before{
    display: block;
    content: "";
    width: 100%;
    padding-top: 56.25%;
}

#main .sixteen-nine .sn-content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    background-position: 50% 50%
    background-repeat:no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color:#fc47a1;
    -webkit-transition: 0.3s  ease-in-out;
    -moz-transition: 0.3s  ease-in-out;
    transition:0.3s ease-in-out;
}


#main .video .sixteen-nine .sn-content:before{
	content:"";
	display: inline-block;
	height:50px;
	width:50px;
	background-image: url(https://static-cashmusic.netdna-ssl.com/www/img/constant/icon/play-button.svg);
	background-size: 100%;
	position: absolute;
	top:50%;
	left:50%;
	margin:-25px 0 0 -25px;
	opacity: 0.7;
}

#main .video .sixteen-nine:hover .sn-content:before{
	opacity: 1;
}

#main .sixteen-nine:hover .sn-content {
	background-blend-mode: exclusion;
}

#main .wrap-link:hover{
	opacity: 1;
}

/* Social Links */

.social-links{
	text-align: center;
	padding:18px 0 0 0;
}

.social-links li {
	display: inline-block;
}

.social-links li a{
	display: block;
	vertical-align: middle;
	margin:0 0 0 0px;
	-webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
	border:solid 3px #000;
}

.social-links li a:hover{
	opacity: 0.6;
}

.social-links li a img{
	margin:10px;
	width:15px;
	height:15px;
}

.carousel-feature .social-links{
	-webkit-filter: invert(100%);
    filter: invert(100%);
}

/* Featured content */

.featured-work{
	padding:0 0px;
	position: relative;
	display: inline-block;
	text-align: right;
	-webkit-background-size: cover!important;
    -moz-background-size: cover!important;
    -o-background-size: cover!important;
    background-size: cover!important;
    background-position: 50% 50%;
}

.featured-work .hero{
	margin:0 auto -60px auto;
	max-width:1100px;
	padding:0 10px;
	position: relative;
}

.featured-work .hero .title-area{
	padding:18px 50px;
	text-align: center;
	border:solid 25px #000;
	width: 79.6%;
	width:81%;
	width:100%;
	margin:30px 0 0 0;
	background:#000;
	color:#fff;
}

#main .featured-work .hero .title-area.uhoh{
	margin-bottom: 36px;
}

#main .featured-work .hero .title-area h1{
	font-size:40.96px;
	margin:0 0 18px 0;
}

#main .featured-work .hero .title-area h4{
	margin:0 0 18px 0;
}

/* Authors */

.featured-work .hero .title-area.author{
	background:#000;
	color:#fff;
}

#main .featured-work .hero .title-area h2{
	font-family:'Romain-Regular','Times New Roman', Times, serif;
	display: block;
}

.featured-work .hero .title-area h2:first-letter{
	text-transform: uppercase;
}

.featured-carousel .content{
  padding:400px 10px 36px 10px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align:right;
}

.featured-carousel .content .inner{
	margin: 0 auto;
	max-width:1070px;
}

.featured-carousel .content .inner .carousel-content{
	text-align: center;
    border-color:#fff;
    width:100%;
    border:solid 25px;
    padding:36px 10px;
    color:#fff;
	text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}

#main .featured-carousel .content .inner h1{
	margin:0 0 18px 0;
}

#main .featured-carousel .content .inner h1 a{
	color:#fff;
}

#main .featured-carousel .content .inner h1 a:hover{
	border-color: #fff
}

/* Carousel */

.featured-carousel{
	margin:-401px 0 0 0;
	position: relative;
	overflow: hidden;
	width:100%;
	color:#fff;
	padding:0;
}

.featured-carousel img{
	position: absolute;
	top:0;
	left:0;
	z-index: -1000;
}

#main .featured-carousel h4, #main .featured-carousel a{
	color:#fff;
}

.featured-carousel h1{
	margin:0;
}

.featured-carousel h1 a:focus{
	outline:none;
}

.featured-carousel.light{
	border-color:#fff;
	color:#fff;
}

.featured-carousel.light h1, .featured-carousel.light a{
	color:#fff;
}

.light .featured-work  h1 a:hover{
	border-color: #fff;
}

/* Carousel Navigation */

.slick-arrow{
	display: none!important;
	position: absolute;
	bottom:36px;
	height:50%;
	z-index: 1000;
	background: url(https://static-cashmusic.netdna-ssl.com/www/img/constant/icon/arw.svg) no-repeat 50% 50%;
	border:none;
	text-indent:-5000px;
	width:25px;
}

.slick-arrow:focus{
	outline: none;
}

.slick-arrow.slick-prev{
	left:72px;
}

.slick-arrow.slick-next{
	right:72px;
	-ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    transform: rotate(180deg);
}

/* Sidebars */

aside{
    height:100%;
   	position: relative;
    z-index: 1000;
}

.quick-articles{
	background:#111;
	margin:10px 10px 0 0;
	padding:0 0 10px 10px;
}

.featured-video-section .quick-articles{
	background:#fff;
	padding:10px 0 10px 10px;
}

.quick-recent-articles, .quick-popular-articles{
	background:#fff;
	border:solid 1px #111;
	border-top:none;
	margin:0px -10px 0 0;
	display: none;
}

.quick-recent-video{
	border:solid 1px #fff;
	margin:-20px -10px 0 0;
}

.quick-video-container{
	padding:0 0 0 0;
	margin:18px 0 0 0;
}


.quick-articles.show-recent .quick-recent-articles{display: block;}
.quick-articles.show-popular .quick-popular-articles{display:block;}

.quick-recent-video{display: block;
}

.quick-articles .tabs{
	margin: 0 -10px 0 0;
}

.quick-articles .tab{
	padding:25px;
	text-align: center;
	border:solid 1px #111;
	background:#111;
	color:#fff;
	margin:-10px 0 0  0;
	border-bottom:none;
	font-family:'Swiss721BT-Black';
	font-size:10px;
	text-transform: uppercase;
	text-decoration:underline;
}

.quick-articles.show-recent .tab.show-recent, .quick-articles.show-popular .tab.show-popular{
	background:#fff;
	color:#111;
}

.quick-articles .tab:hover{
	cursor:pointer;
}

.quick-articles .post{
	position: relative;
	border-bottom: solid 1px #111; 
	height:100%;
}

.quick-articles .post:last-of-type{
	border:none;
}

.quick-articles .post .inner{
	padding:15px;
}

.quick-articles .post .inner h3{
	margin:0;
	display: block;
}

.quick-articles .post .thumb{
	display: none;
	background-color:#111;
	min-height: 136px;
	background-size:cover;
}

.quick-articles .post .thumb img{
    height: 100%;
    margin: 0 auto;
}

/* Inline Video */

.quick-articles .quick-recent-video .post{
	background:#000;
}

#main .quick-articles .quick-recent-video .post a{
	color:#fff;
}

/* Featured-video */

.featured-video{
	padding:0 20px 0 0;
}

/* Featured Video Style */

#main .featured-video-section{
	background:#000;
	color:#fff;
	padding:72px 10px;
}

#main .featured-video-section .max-width{
	max-width: 1080px;
}

.featured-video-section span.feat-title{
	font-family:'Romain-Regular','Times New Roman', Times, serif;
	margin:0 0 36px 0;
	display: block;
}

.featured-video-bg{
	background-color:#ddd;
	margin:10px -10px 0 0;
}

.featured-video-content{
	position: relative;
	margin:0;
}

.featured-video .featured-video-content{
	top: -10px;
	left: 10px;
}

 .featured-video-content:before{
	width:100%;
	display: block;
	content: "";
	width: 100%;
	padding-top: 56.25%;
}

.featured-video-content .video-inner{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	overflow: hidden;
	background-position: 50% 50%
	background-repeat:no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-color:#000;
	-webkit-transition: 0.3s  ease-in-out;
	-moz-transition: 0.3s  ease-in-out;
	transition:0.3s ease-in-out;
}

.featured-video-content iframe{
  width:100%;
  height:100%;
  margin:0!important;
}

.featured-video-content .quick-articles{
  margin:0 0 0 20px;
}

/* More link */

.watt #main .more-link{
	display: block;
	border:solid #000 25px;
	padding:36px;
	margin:36px 10px;
	width:auto;
	font-family: 'PT Mono', monospace;
}

.watt #main .more-link:hover{
	background:#000;
	color:#fff;
	opacity: 1;
}

/* Licences */

#main .cc-license{
	margin:36px 0 0 0!important;
	font-size:10px!important;
	opacity: 1!important;
}


/* Ad Space */

#main .ad-space{
	display: block;
	padding:20px;
	margin:36px 0;
	background:#5440d6 url(https://static-cashmusic.netdna-ssl.com/www/img/constant/texture/ad-bg.jpg);
}


#main .ad-space h1, #main .ad-space h2{
	font-family: 'Nunito', 'Helvetica', arial,sans-serif;
	font-weight: 400;
	color:#fff;
}

#main .ad-space h1{
	font-size:72px;
	line-height: 58px;
	margin:0 0 200px 0;
}

#main .ad-space h2{
	font-size: 16px;
	line-height: 18px;
	width:50%;
	margin:0;
}

/* ==========================================================================
   Responsive
   ========================================================================== */

/* Pure Medium + */
@media screen and (min-width: 48em) {


/* Logo */

#collapsed .watt-logo-lrg{
	display: block;
}


#main .watt-logo-lrg{
	text-align: left;
	margin:97px 0 -90px -85px;
	max-width:350px;
}

/* Social Links */

.social-links{
	text-align: right;
	position: absolute;
	right:10px;
	top:0px;
	z-index: 1000;
}

/* Featured-work */
.featured-work{
	padding:0 85px;
}

.featured-work .hero{
	margin:0 auto;
}

#main .featured-work .hero .title-area h1{
	font-size:67.773px;
	line-height: 58px;
}

.featured-work .hero .title-area{
	padding:18px 100px;
}


/* Articles */

#main .watt-article.tertiary, #main .watt-article.tertiary-half, #main .watt-article.quaternary{
  width: 33.33%;
}

#main .watt-article.tertiary-half{
  width:50%;
}

#main .watt-article.quaternary{
  width: 16.66%;
}

/* Carousel */

.featured-carousel{
	margin:-201px 0 0 0;
}

.featured-carousel .content{
  padding:230px 10px 36px 10px;
}


.featured-carousel .content .inner{
		padding:0 0 0 200px;
}

.featured-carousel .content .inner .carousel-content{
	padding:50px 100px;
}

.slick-arrow{
	display: block!important;
}

/* Recent Thumbnails */

.quick-articles .post .thumb{
	display: inline-block;
}

.quick-video-container{
	padding:0 0 0 13px;
	margin:0 0 0 0;
}

/* Featured Video */

.featured-video{
	padding:0;
	margin:0 27px 0 0;
}


} /* END Pure Medium */

