# ----------------------------------------------------------------------
# CASH Music admin-specific rewrites
#
# The RewriteBase will need to be set as a part of the installer, but
# the rest is pretty much stock
# ----------------------------------------------------------------------

RewriteEngine On
RewriteBase /
Options +FollowSymlinks
Options -Indexes

DirectoryIndex controller.php

# create controller redirects

# no GET querystring
RewriteCond %{REQUEST_FILENAME} !-s
RewriteCond %{REQUEST_FILENAME} !-l
RewriteCond %{REQUEST_URI} !.*\.(css|jpg|jpeg|gif|png|zip|js|md|swf)$
RewriteCond %{QUERY_STRING} !(.+)
RewriteRule (.*) controller.php?p=$1 [L]

# found a GET querystring, rewrite and forward
RewriteCond %{REQUEST_FILENAME} !-s
RewriteCond %{REQUEST_FILENAME} !-l
RewriteCond %{REQUEST_URI} !.*\.(css|jpg|jpeg|gif|png|zip|js|md|swf)$
RewriteCond %{QUERY_STRING} (.+)
RewriteRule ([^\?]+) controller.php?p=$1&%1 [L]

RewriteCond %{HTTP_HOST} !watt.cashmusic.org [NC]
RewriteRule ^(.*)$ https://watt.cashmusic.org/$1 [R=301,L,QSA]
