{{{header}}}
<!--SITE HEADER-->
<main id="main" class="pure-g" role="main">

  <article id="{{id}}" class="pure-u-1 {{template}} {{template_additional}}">
    <section class="article-content uhoh">
      <h1>404 ;(</h1>
        <h2>Sorry we can't find what you're looking for. Why not check out the <a href="/">homepage</a></h2>
    </section>
  </article>

</main><!--#main-->
<!--SITE FOOTER-->
{{{footer}}}
