{{{header}}}
<!--SITE HEADER-->
<div class="all-header"></div>
<main id="main" class="article-page static pure-g" role="main">
<article class="pure-u-1 expanded">
  <section class="article-content">
    <section class="section-title pure-u-1">
    <h3>All articles:</h3>
    </section>
      <div id="archive" class="dark">
  <section class="pure-u-1">
    {{#work}}<div class="article-archive pure-u-1 pure-u-md-1-4 {{template_additional}} {{type}}">
      <a class="wrap-link" href="/{{type}}/{{id}}"><div class="sixteen-nine">
          <div class="sn-content" style="background-image:url('{{#assets}}{{url}}{{/assets}}');">
        </div><!--sn-content-->
      </div><!--sixteen-nine--></a><!--wrap-link-->
            <div id="{{author_id}}" class="inner">
              <div class="corner-marker"></div><!--important-->
    				          <h2><a href="/{{type}}/{{id}}">{{title}}</a></h2>
    				 	        <h4><a href="/author/{{author_id}}">{{author_name}}</a></h4>
                      <p>{{description}}</p>
                      <a class="more-link" href="/{{type}}/{{id}}">Read more</a>
            </div><!--inner-->
    	</div><!--article-archive-->{{/work}}
</section>
  </div><!--archive-->

  <section class="pure-u-1 pure-u-md-1-2">
 	  <h3>Tags</h3>
    <ul class="tags">
	{{#tags}}
	 <li><a href="/tag/{{tag}}">{{tag}}</a></li>
	{{/tags}}
    </ul>
  </section><section class="pure-u-1 pure-u-md-1-2">
 	  <h3>Authors</h3>
     <ul class="tags">
	{{#authors}}
		<li><a href="/author/{{id}}">{{name}}</a></li>
	{{/authors}}
    </ul>
</section><!--pure-->
</div><!--archive-->
</section><!--article-content-->
</article>

</main><!--#main-->

<!--SITE FOOTER-->
{{{footer}}}
