<div class="author">

	{{#links}}
	<a class="avatar" href="/author/{{id}}" target="_blank">
	<img src="{{#photo}}{{url}}{{/photo}}" alt="{{name}}" /></a>
	{{/links}}
	 <div class="details">
	 	<h4>{{name}}, {{byline}}</h4>
		{{#links}}
			<a href="{{url}}" target="_blank">{{title}}</a>
		{{/links}}
	</div><!--details-->

</div><!--author-->
