default >>><br /><br />

<h1>{{title}}</h1>
<h4>{{display_time}}</h4>
{{{display_byline}}}
{{{content}}}

<br /><br /><<< default

<p>
tags:<br />
{{#tags}}
	<a href="/tag/{{tag}}">{{tag}}</a>
{{/tags}}
</p>
