{{{header}}}
<!--SITE HEADER-->

</div><!--hero-->
</div><!--featured-work-->

<!--Article Inline Styles-->
<style type="text/css">
    {{template_styles}}
</style>


<article id="{{id}}" class="pure-u-1">
  <section class="article-content max-width">


<section class="pure-u-1">
 <div class="watt-article pure-u-1 pure-u-md-2-3 secondary {{template_additional}} {{type}}">
    <!--If Video embed present-->
      {{#embed_url}}
<div class="featured-video-content">
  <!--If Video embed present-->
    <div class="video-inner">
       {{#youtube}}
          <iframe width='560' height='315' src='{{embed_url}}?vq=hd1080&showinfo=0' frameborder='0' allowfullscreen></iframe>
       {{/youtube}}
    </div><!--video-inner-->

</div><!--featured-video-content-->
  {{/embed_url}}
    <div id="{{author_id}}" class="inner {{template_blend}}">
        {{^embed_url}} <div class="lead-image"><img src="{{#assets}}{{url}}{{/assets}}"/>
         {{#assets}}{{#credits}}<a href="{{#credits}}{{user_url}}{{/credits}}" target="_blank" class="credit">Image by {{username}}</a>{{/credits}}{{/assets}}
        </div><!--lead-image-->  {{/embed_url}}
        <div class="author-top">
        <h4 class="info date">{{display_time}}</h4><h4 class="author-link">by <a href="/author/{{author_id}}">{{author_name}}</a></h4>
      </div><!--author-top-->
      <ul class="tags">
          {{#tags}}
            <li><a class="tag" href="/tag/{{tag}}">{{tag}}</a></li>
          {{/tags}}
      </ul>
        <h1>{{title}}</h1>
           {{{content}}}
          <div class="footer">
              <h4 class="info date">{{display_time}}</h4><h4 class="author-link">by <a href="/author/{{author_id}}">{{author_name}}</a></h4>
      </div><!--footer-->
    {{#license}}<h4 class="cc-license {{license}}">By {{author_name}}, distributed under a Creative Commons <strong>{{license}}</strong> license.</h4>{{/license}}
    {{#assets}}<a class="inline-credit-footer {{^credits}}none{{/credits}}" href="{{#credits}}{{user_url}}{{/credits}}" target="_blank"><h4>{{#license}}<span class="cc-license-image {{license}}"></span>{{/license}}{{#credits}}Image by <span>{{username}}</span>, distributed under the <strong>{{license}}</strong> creative commons license.{{/credits}}</h4></a>{{/assets}}

     
      </div><!--inner--></div><!--article-archive--><aside class="pure-u-1 pure-u-md-1-3 watt-article">
        <div class="quick-articles show-recent">
          <div class="tabs">
          <div class="tab show-recent active pure-u-1 pure-u-md-1-2">Recent Articles</div><div class="tab show-popular pure-u-1 pure-u-md-1-2">Most Popular</div>
          </div><!--tabs-->
          <div class="quick-recent-articles">
          {{#recent_work}}
              <div class="post">
                <div class="inner pure-u-md-2-3">
                <h3><a href="/{{type}}/{{id}}">{{title}}</a></h3>
                <h4>by <a href="/author/{{author_id}}">{{author_name}}</a></h4>
                </div><!--inner--><div class="thumb pure-u-1 pure-u-md-1-3" style="background-image:url({{#assets}}{{url}}{{/assets}});"></div><!--thumb-->
              </div>
          {{/recent_work}}
          </div><!--quick-recent-articles-->
          <div class="quick-popular-articles">
          {{#popular_work}}
              <div class="post">
                <div class="inner pure-u-md-2-3">
                <h3><a href="/{{type}}/{{id}}">{{title}}</a></h3>
                <h4>by <a href="/author/{{author_id}}">{{author_name}}</a></h4>
                </div><!--inner--><div class="thumb pure-u-1 pure-u-md-1-3" style="background-image:url({{#assets}}{{url}}{{/assets}});"></div><!--thumb-->
              </div>
          {{/popular_work}}
          </div><!--quick-popular-articles-->
        </div><!--quick-articles-->

        <div class="ad-space family">
        <h1><a href="href="http://smarturl.it/cashfamily" target="_blank""><img src="https://static-cashmusic.netdna-ssl.com/www/img/family/family-title.svg" alt="Join the CASH Family"/></a></h1>
        <h2><a href="http://smarturl.it/cashfamily" target="_blank"><strong>Support</strong> musicians.<br /><strong>Vote</strong> on what we create.<br /> <strong>Receive</strong> monthly music.<br /> <strong>Access</strong> our exclusive store.</a></h2>
        <script src="https://air.cashmusic.org/public/cashmusic.js" data-element="52"></script>
        </div><!--ad-space-->

        <a href="http://smarturl.it/cashplatform" target="_blank" class="ad-space">
        <h1>OWN YOUR OWN SHIT.</h1>
        <h2>CASH Music makes free open source tools to support musicians.</h2>
        </a><!--ad-space-->

      </aside><!--pure-->
          
<div class="flex-items">
      {{#further_reading}}
<div class="watt-article pure-u-1 pure-u-md-1-3 tertiary {{template_additional}} {{type}}">
        <div id="{{author_id}}" class="inner">
        <a class="wrap-link" href="/{{type}}/{{id}}"><div class="sixteen-nine">
      <div class="sn-content" style="background-image:url('{{#assets}}{{url}}{{/assets}}');">
    </div><!--sn-content-->
  </div><!--sixteen-nine--></a><!--wrap-link-->
          <div class="corner-marker"></div><!--important-->
                  <h2><a href="/{{type}}/{{id}}">{{title}}</a></h2>
                  <p>{{description}}</p>
                  <footer>
                  <h4>by <a href="/author/{{author_id}}">{{author_name}}</a></h4>
                  </footer>
        </div><!--inner-->
  </div><!--watt-archive-->{{/further_reading}}
  </div><!--flex-items-->
</section>

</section><!--max-width-->

<section class="pure-u-1 featured-video-section">
{{#featured_video}}
<section class="max-width">
<h2>Featured video: <span class="feat-title">{{title}}</span></h2>
<div class="pure-u-1 pure-u-md-2-3">
<div class="featured-video">
<div class="featured-video-bg" style="background-image:url('{{#assets}}{{url}}{{/assets}}');">
<div class="featured-video-content">
  <!--If Video embed present-->
  {{#embed_url}}
    <div class="video-inner">
       {{#youtube}}
          <iframe width='560' height='315' src='{{embed_url}}?vq=hd1080&showinfo=0' frameborder='0' allowfullscreen></iframe>
       {{/youtube}}
    </div><!--video-inner-->
  {{/embed_url}}
</div><!--featured-video-content-->

</div><!--featured-video-bg-->
</div><!--featured-video-->
</div><!--pure--><div class="pure-u-1 pure-u-md-1-3 quick-video-container"><div class="quick-articles">
<div class="quick-recent-video">
  {{#recent_video}}
    <div class="post">
        <div class="inner pure-u-1 pure-u-md-2-3">
          <h3><a href="/{{type}}/{{id}}" target="_blank">{{title}}</a></h3>
          <h4>by <a href="/author/{{author_id}}">{{author_name}}</a></h4>
        </div><!--inner--><div class="thumb pure-u-1 pure-u-md-1-3" style="background-image:url({{#assets}}{{url}}{{/assets}});"></div><!--thumb-->
    </div><!--post-->
  {{/recent_video}}
    </div><!--quick-recent-video-->
  </div><!--quick-articles-->
  </div><!--pure-->
</section><!--max-width-->
{{/featured_video}}
</section>

<section class="article-content max-width">
<a class="more-link dark" href="/all">View all articles</a>
</section>
  </section><!--article-content-->
  
</article><!--{{author}}-->

</main><!--main-->

<!--SITE FOOTER-->
{{{footer}}}
