<footer role="contentinfo">

        <script type="text/javascript" src="https://cashmusic.org/public/cashmusic.js"></script>
        <script type="text/javascript"> window.cashmusic.embed({endpoint:'https://cashmusic.org/public',elementid:'7748',cssoverride:'#mainspc{padding:10px 0px 0 0px; background:rgba(0,0,0,0); color:#999; margin-bottom:30px;}input{border-color:#999;}.cash_notation{color:#999}input[type=text]:focus, input[type=email]:focus, input[type=password]:focus, textarea:focus{background:#111; color:#999;}'});</script>

            <div class="brand-partner">

            </div><!--brand-partner-->
                <div class="supporters">
                    <a class="pure-u-1 pure-u-md-2-5" href="https://www.shuttleworthfoundation.org/" target="_blank"><img src="https://static-cashmusic.netdna-ssl.com/www/img/constant/supporters/shuttleworth.png" alt="Shuttleworth"/></a><a class="pure-u-1-3 pure-u-md-1-5" href="https://www.maxcdn.com/" target="_blank"><img src="https://static-cashmusic.netdna-ssl.com/www/img/constant/supporters/maxcdn.png" alt="MAXCDN"/></a><a class="pure-u-1-3 pure-u-md-1-5" href="http://mailchimp.com/" target="_blank"><img src="https://static-cashmusic.netdna-ssl.com/www/img/constant/supporters/mailchimp.png" alt="Mailchimp"/></a><a class="pure-u-1-3 pure-u-md-1-5" href="http://www.rackspace.com/" target="_blank"><img src="https://static-cashmusic.netdna-ssl.com/www/img/constant/supporters/rackspace.png" alt="Rackspace"/></a>
                </div><!--supporters-->
            <nav>
                <div  class="pure-u-1-2 pure-u-md-1-5">
                <h6 class="title">Read</h6>
                <ul>
                    <li><a href="https://cashmusic.org/">Home</a></li>
                    <li><a href="https://watt.cashmusic.org/">Watt</a></li>
                    <li><a href="https://medium.com/cash-music">Blog</a></li>
                </ul>
                </div><!--pure--><div  class="pure-u-1-2 pure-u-md-1-5">
                <h6 class="title">About</h6>
                <ul>
                    <li><a href="http://about.cashmusic.org/#mission">Mission</a></li>
                    <li><a href="http://about.cashmusic.org/#team">Team</a></li>
                    <li><a href="http://about.cashmusic.org/#board">Board</a></li>
                    <li><a href="http://about.cashmusic.org/#advisors">Advisors</a></li>
                </ul>
                </div><!--pure--><div  class="pure-u-1-2 pure-u-md-1-5">
                <h6 class="title">Tools</h6>
                <ul>
                    <li><a href="http://platform.cashmusic.org/">Platform</a></li>
                    <li><a href="http://venues.cashmusic.org/" target="_blank">Venue Data</a></li>
                    <li><a href="http://cashmusic.github.io/cashmusic.js/">Cashmusic.js</a></li>
                    <li><a href="http://help.cashmusic.org/">Support</a></li>
                </ul>
                </div><!--pure--><div  class="pure-u-1-2 pure-u-md-1-5">
                <h6 class="title">Developers</h6>
                <ul>
                    <li><a href="https://cashmusic.org/docs/">Documentation</a></li>
                    <li><a href="https://github.com/cashmusic/platform">Github</a></li>
                </ul>
                </div><!--pure--><div  class="pure-u-1 pure-u-md-1-5">
                <h6 class="title">Social</h6>
                <ul>
                    <li><a href="https://twitter.com/cashmusic">Twitter</a></li>
                    <li><a href="https://instagram.com/cashmusicorg/">Instagram</a></li>
                    <li><a href="https://www.facebook.com/cashmusic.org">Facebook</a></li>
                    <li><a href="https://www.youtube.com/user/cashmusicorg">Youtube</a></li>
                    <li><a href="https://cashmusic-slack.herokuapp.com/">Slack</a></li>
                </ul>
                </div><!--pure-->
            </nav>
                <h5>CASH Music is a <a href="https://medium.com/cash-music/the-organization-is-our-protest-song-1c9b01ea3ceb" target="_blank">nonprofit</a> working on <a href="http://about.cashmusic.org/" >free</a> &amp; <a href="https://medium.com/cash-music/jumping-off-cliffs-c112de91c5fd" target="_blank">open</a> <a href="https://platform.cashmusic.org/">tools</a> that give artists control of their careers</a></h5>
                <h6>&copy; 2016 CASH Music. All our code is open-source and free forever.<br/>Authors retain all rights to any works on this page, sharing them under a <a href="http://creativecommons.org/licenses/by/4.0/" target="_blank">CC BY license</a> unless otherwise noted.</h6>
        </footer>
        </div><!--wrapper-->

        <!--twitter-->
        <script type="text/javascript" src="//platform.twitter.com/widgets.js"></script>



<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/3.1.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>


<script>
$('.featured-carousel').slick({
  infinite: true,
  speed: 300,
  slidesToShow: 1,
  adaptiveHeight: true
});
</script>

        <!-- Google Analytics -->
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-55083593-1', 'auto');
          ga('send', 'pageview');

          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-55083593-1']);
          _gaq.push(['_setDomainName', 'cashmusic.org']);
          _gaq.push(['_trackPageview']);
        </script>

        <!-- Load Facebook SDK for JavaScript -->
        <div id="fb-root"></div>
        <script>(function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
            fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));
        </script>
    </body>
</html>
