<!doctype html>
<!--
    ____________________________
  /|............................|
 | |:     	 CASH MUSIC        :|
 | |:     " cashmusic.org "    :|
 | |:     ,-.   _____   ,-.    :|
 | |:    ( `)) [_____] ( `))   :|
 |v|:     `-`   ' ' '   `-`    :|
 |||:     ,______________.     :|
 |||...../::::o::::::o::::\.....|
 |^|..../:::O::::::::::O:::\....|
 |/`---/--------------------`---|
 `.___/ /====/ /=//=/ /====/____/
      `--------------------'

-->

<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>CASH Music</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" href="https://static-cashmusic.netdna-ssl.com/www/apple-touch-icon.png">
        <!-- Place favicon.ico in the root directory -->
        <link rel="shortcut icon" href="https://static-cashmusic.netdna-ssl.com/www/favicon.png" type="image/png">
        <!--rss-->
        <link rel="alternate" type="application/rss+xml" title="WATT - RSS Feed" href="https://watt.cashmusic.org/rss/" />

        <link rel="stylesheet" href="https://static-cashmusic.netdna-ssl.com/www/css/pure/base-min.css">
        <!--[if lte IE 8]>
          <link rel="stylesheet" href="https://static-cashmusic.netdna-ssl.com/www/css/pure/grids-responsive-old-ie-min.css">
        <![endif]-->
        <!--[if gt IE 8]><!-->
          <link rel="stylesheet" href="https://static-cashmusic.netdna-ssl.com/www/css/pure/grids-responsive-min.css">
        <!--<![endif]-->

        <!--Fonts-->
        <link href='https://fonts.googleapis.com/css?family=Caesar+Dressing|Playfair+Display|Montserrat:400,700|Nunito:300,400,700' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Damion' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>

        <!--custom styles-->
        <link rel="stylesheet" href="https://static-cashmusic.netdna-ssl.com/www/css/normalize.css">
        <link rel="stylesheet" href="https://static-cashmusic.netdna-ssl.com/www/css/header-090116.css">
        <link rel="stylesheet" href="https://static-cashmusic.netdna-ssl.com/www/css/base-090116.css">
        <link rel="stylesheet" href="/css/watt.css">
        <link rel="stylesheet" href="https://static-cashmusic.netdna-ssl.com/www/css/helper-090116.css">
        <script src="https://static-cashmusic.netdna-ssl.com/www/js/vendor/modernizr-2.8.3.min.js"></script>


        <!--Mobile Viewport -->
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="viewport" content="initial-scale=1.0,user-scalable=no">

        <!--Open Graph Meta Data-->
        <meta name="twitter:card" content="summary_large_image" />
        <meta name="twitter:site" content="@cashmusic" />
        <meta name="twitter:creator" content="@cashmusic" />
        <meta property="og:url" content="{{current_url}}" />
        <meta property="og:type" content="website" />
        <meta property="og:title" content="Watt / {{title}}" />
        <meta property="og:description" content="{{description}}" />
        <meta property="og:image" content="{{share_image}}" />

        <script type="text/javascript" src="https://cashmusic.org/public/cashmusic.js"></script>
        <script type="text/javascript" src="https://static-cashmusic.netdna-ssl.com/www/js/main.js"></script>
    </head>

    <body class="watt {{type}} {{template_additional}} {{#featured_work}}{{template_additional}}{{/featured_work}}">
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
       <div id="wrapper">
        <header role="banner">
            <div id="constant">
   <div id="top" class="hide">
       <h1 class="logo"><a href="https://cashmusic.org/"><div class="icon icon-logo"><span>CASH Music</span></div></a></h1><!--logo-->
         <a class="watt-logo" href="/">WATT</a>
               <div class="menutoggle"><span></span><span></span><span></span></div><!-- menutoggle -->
      <nav class="pure-u-1 pure-u-md-1-2">
          <ul class="pure-u-1">
              <li><a class="home" href="https://cashmusic.org/">Home</a></li><li><a class="about" href="http://about.cashmusic.org/">About us</a></li><li><a class="platform" href="http://platform.cashmusic.org/">Tools</a></li><li><a class="watt" href="https://watt.cashmusic.org/">Watt</a></li><li><a class="education" href="http://education.cashmusic.org/">Education</a></li><li><a class="donate" href="https://donate.cashmusic.org/">Donate</a></li>
          </ul>
      </nav>
          <div id="platform-signup">
              <a href="https://cashmusic.org/admin/dosignup/" target="_blank">Sign up</a> <span>or</span><a class="login" href="https://cashmusic.org/admin/" target="_blank">Login</a>
          </div><!--platform-signup-->
          <div class="overview">
            <div class="overview-inner">
             <div class="pure-u-1 pure-u-md-1-2">
               <div class="overview-content">
                 <h5>TLDR;</h5>
                 <h2>Watt is our publication dedicated to asking and answering the questions that matter. Here we explore the economic, technology, culture, and health issues facing musicians.</h2>
                <p>We believe in empowering artists through tools and knowledge. A world with a healthy artist class is one from which we all benefit. Empowered musicians can  focus on creating great music, connecting with their audience, &amp; taking care of themselves, which in turn takes care of us.</p>
               </div><!--overview-content-->
             </div><!--pure--><div class="pure-u-1 pure-u-md-1-2">
               <div class="overview-content">
                      <h5>FEATURED TAGS</h5>
                     <ul class="tags">
                       {{#featured_tags}}
                         <li><a class="tag" href="/tag/{{.}}">{{.}}</a></li>
                       {{/featured_tags}}
                     </ul>
               </div><!--overview-content-->
           </div><!--pure-->
          </div><!--overview-inner-->
          </div><!--overview-->
   </div><!--top-->
   <div id="collapsed" class="hide">
      <h1 class="logo"><a href="https://cashmusic.org/"><div class="icon icon-logo"><span>CASH Music</span></div></a></h1><!--logo-->
        <a class="watt-logo" href="/">WATT</a>
        <div class="menutoggle"><span></span><span></span><span></span></div><!-- menutoggle -->
      <nav>
          <ul class="pure-u-1">
            <li><a class="home" href="https://cashmusic.org/">Home</a></li><li><a class="about" href="http://about.cashmusic.org/">About us</a></li><li><a class="platform" href="http://platform.cashmusic.org/">Tools</a></li><li><a class="watt" href="https://watt.cashmusic.org/">Watt</a></li><li><a class="education" href="http://education.cashmusic.org/">Education</a></li><li><a class="donate" href="https://donate.cashmusic.org/">Donate</a></li>
          </ul>
      </nav>
          <div id="platform-signup">
              <a href="https://cashmusic.org/admin/dosignup/" target="_blank">Sign up</a> <span>or</span><a class="login" href="https://cashmusic.org/admin/" target="_blank">Login</a>
          </div><!--platform-signup-->
          <div class="overview">
            <div class="overview-inner">
             <div class="pure-u-1 pure-u-md-1-2">
               <div class="overview-content">
                 <h5>TLDR;</h5>
                 <h2>Watt is our publication dedicated to asking and answering the questions that matter. Here we explore the economic, technology, culture, and health issues facing musicians.</h2>
                <p>We believe in empowering artists through tools and knowledge. A world with a healthy artist class is one from which we all benefit. Empowered musicians can  focus on creating great music, connecting with their audience, &amp; taking care of themselves, which in turn takes care of us.</p>
               </div><!--overview-content-->
             </div><!--pure--><div class="pure-u-1 pure-u-md-1-2">
               <div class="overview-content">
                      <h5>FEATURED TAGS</h5>
                     <ul class="tags">
                       {{#featured_tags}}
                         <li><a class="tag" href="/tag/{{.}}">{{.}}</a></li>
                       {{/featured_tags}}
                     </ul>
               </div><!--overview-content-->
           </div><!--pure-->
          </div><!--overview-inner-->
          </div><!--overview-->
   </div><!--collapsed-->
</div><!--constant-->
</header>
