<!doctype html>
<!--
    ____________________________
  /|............................|
 | |:     	 CASH MUSIC        :|
 | |:     " cashmusic.org "    :|
 | |:     ,-.   _____   ,-.    :|
 | |:    ( `)) [_____] ( `))   :|
 |v|:     `-`   ' ' '   `-`    :|
 |||:     ,______________.     :|
 |||...../::::o::::::o::::\.....|
 |^|..../:::O::::::::::O:::\....|
 |/`---/--------------------`---|
 `.___/ /====/ /=//=/ /====/____/
      `--------------------'

-->

<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>CASH Music</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" href="https://static-cashmusic.netdna-ssl.com/www/apple-touch-icon.png">
        <!-- Place favicon.ico in the root directory -->
        <link rel="shortcut icon" href="https://static-cashmusic.netdna-ssl.com/www/favicon.png" type="image/png">

        <link rel="stylesheet" href="https://static-cashmusic.netdna-ssl.com/www/css/normalize.css">
        <link rel="stylesheet" href="https://static-cashmusic.netdna-ssl.com/www/css/font-mapping.css">
        <link rel="stylesheet" href="https://static-cashmusic.netdna-ssl.com/www/css/nav.css">
        <link rel="stylesheet" href="../css/main.css">
        <script src="https://static-cashmusic.netdna-ssl.com/www/js/vendor/modernizr-2.8.3.min.js"></script>

        <link rel="stylesheet" href="https://static-cashmusic.netdna-ssl.com/www/css/pure/base-min.css">
        <!--[if lte IE 8]>
  		<link rel="stylesheet" href="https://static-cashmusic.netdna-ssl.com/www/css/pure/grids-responsive-old-ie-min.css">
		<![endif]-->
		<!--[if gt IE 8]><!-->
        <link rel="stylesheet" href="https://static-cashmusic.netdna-ssl.com/www/css/pure/grids-responsive-min.css">
		<!--<![endif]-->

        <!--Fonts-->
		<link href='https://fonts.googleapis.com/css?family=Caesar+Dressing|Playfair+Display|Montserrat:400,700|Nunito:300,400,700' rel='stylesheet' type='text/css'>

        <!--Mobile Viewport -->
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="viewport" content="initial-scale=1.0,user-scalable=no">

        <!--Open Graph Meta Data-->
        <?php include(__DIR__.'/ogmeta.php') ?>

        <script type="text/javascript" src="https://cashmusic.org/public/cashmusic.js"></script>
        <script type="text/javascript" src="https://static-cashmusic.netdna-ssl.com/www/js/main.js"></script>

        </script>

    </head>

    <body class="static-nav">
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
       <div id="wrapper">
        <header role="banner">
            <div id="constant">
   <div id="top">
      <div class="menutoggle"><span></span><span></span><span></span></div><!-- menutoggle -->
      <h1 class="logo"><a href="https://cashmusic.org/"><div class="icon icon-logo"><span>CASH Music</span></div></a></h1><!--logo-->
          <div id="platform-signup">
              <a href="https://cashmusic.org/admin/dosignup/" target="_blank">Sign up</a> <span>or</span><a class="login" href="https://cashmusic.org/admin/" target="_blank">Login</a>
          </div><!--platform-signup-->
      <nav>
          <ul class="pure-g">
              <li class="pure-u-1 pure-u-md-1-6"><a class="home" href="https://cashmusic.org/">Home</a></li>
              <li class="pure-u-1 pure-u-md-1-6"><a class="about" href="http://about.cashmusic.org/">About us</a></li>
              <li class="pure-u-1 pure-u-md-1-6"><a class="platform" href="http://platform.cashmusic.org/">Tools</a></li>
              <li class="pure-u-1 pure-u-md-1-6"><a class="education" href="http://education.cashmusic.org/">Education</a></li>
              <li class="pure-u-1 pure-u-md-1-6"><a href="https://medium.com/cash-music" target="_blank">Blog</a></li>
              <li class="pure-u-1 pure-u-md-1-6"><a class="donate" href="http://donate.cashmusic.org/">Donate</a></li>
          </ul>
      </nav>
   </div><!--top-->
   <div id="collapsed" class="hide">
      <div class="menutoggle"><span></span><span></span><span></span></div><!-- menutoggle -->
      <h1 class="logo"><a href="https://cashmusic.org/"><div class="icon icon-logo"><span>CASH Music</span></div></a></h1><!--logo-->
          <div id="platform-signup">
              <a href="http://cashmusic.org/admin/dosignup/" target="_blank">Sign up</a> <span>or</span><a class="login" href="http://cashmusic.org/admin/" target="_blank">Login</a>
          </div><!--platform-signup-->
      <nav>
          <ul class="pure-g">
              <li class="pure-u-1 pure-u-md-1-6"><a class="home" href="https://cashmusic.org/">Home</a></li>
              <li class="pure-u-1 pure-u-md-1-6"><a class="about" href="http://about.cashmusic.org/">About us</a></li>
              <li class="pure-u-1 pure-u-md-1-6"><a class="platform" href="http://platform.cashmusic.org/">Tools</a></li>
              <li class="pure-u-1 pure-u-md-1-6"><a class="education" href="http://education.cashmusic.org/">Education</a></li>
              <li class="pure-u-1 pure-u-md-1-6"><a href="https://medium.com/cash-music" target="_blank">Blog</a></li>
              <li class="pure-u-1 pure-u-md-1-6"><a class="donate" href="http://donate.cashmusic.org/">Donate</a></li>
          </ul>
      </nav>
   </div><!--collapsed-->
</div><!--constant-->

</header>
