<p>
	index
<p>

{{#work}}
	<p>
		<a href="/{{type}}/{{id}}">{{title}}</a><br />
		{{author_name}} ({{author_byline}})<br />
		{{description}}
	</p>
{{/work}}

<p>
all tags:<br />
{{#tag_list}}
	<a href="/tag/{{tag}}">{{tag}}</a>
{{/tag_list}}
</p>
