{{{header}}}
<!--SITE HEADER-->

    </div><!--hero-->
</div><!--featured-work-->
    
 <div class="featured-carousel {{template_additional}}">
    {{#featured_work}}
            <div class="content {{type}} {{template_bg_style}} {{template_blend}} pure-u-1 pure-u-md-3-4" style="background-image:url({{#assets}}{{url}}{{/assets}});">
            
            <div class="inner"><h1><a href="/{{type}}/{{id}}" {{#embed_url}}target="_blank"{{/embed_url}}>{{title}} {{#embed_url}}<span class="play-button"></span>{{/embed_url}}</a></h1>
            <h4>by <a href="/author/{{author_id}}">{{author_name}}</a></h4></div>
            </div>
    {{/featured_work}}
  </div><!--featured-carousel-->

<section class="article-content max-width">

<section class="pure-u-1">
  {{#secondary_work}}<div class="watt-article pure-u-1 pure-u-md-2-3 secondary {{template_additional}} {{type}}">
    <!--If Video embed present-->
      {{#embed_url}}
<div class="featured-video-content">
  <!--If Video embed present-->
    <div class="video-inner">
       {{#youtube}}
          <iframe width='560' height='315' src='{{embed_url}}?vq=hd1080&showinfo=0' frameborder='0' allowfullscreen></iframe>
       {{/youtube}}
    </div><!--video-inner-->

</div><!--featured-video-content-->
  {{/embed_url}}
    <div id="{{author_id}}" class="inner {{template_blend}}">
        {{^embed_url}} <div class="lead-image"><a href="/{{type}}/{{id}}"><img src="{{#assets}}{{url}}{{/assets}}"/></a>
        </div><!--lead-image-->  {{/embed_url}}
        <h1><a href="/{{type}}/{{id}}">{{title}}</a></h1>
          <p>{{description}}</p>
          <div class="footer">
            <a class="info" href="/{{type}}/{{id}}">Read more</a><h4 class="author-link">by <a href="/author/{{author_id}}">{{author_name}}</a></h4>
         </div><!--footer-->
      </div><!--inner--></div><!--article-archive-->{{/secondary_work}}<aside class="pure-u-1 pure-u-md-1-3 watt-article">
        <div class="quick-articles show-recent">
          <div class="tabs">
          <div class="tab show-recent active pure-u-1 pure-u-md-1-2">Recent Articles</div><div class="tab show-popular pure-u-1 pure-u-md-1-2">Most Popular</div>
          </div><!--tabs-->
          <div class="quick-recent-articles">
          {{#recent_work}}
              <div class="post">
                <div class="inner pure-u-1 pure-u-md-2-3">
                <h3><a href="/{{type}}/{{id}}">{{title}}</a></h3>
                <h4>by <a href="/author/{{author_id}}">{{author_name}}</a></h4>
                </div><!--inner--><div class="thumb pure-u-1 pure-u-md-1-3">
                  <img src="{{#assets}}{{url}}{{/assets}}" alt="picture"/>
                </div><!--thumb-->
              </div>
          {{/recent_work}}
          </div><!--quick-recent-articles-->
          <div class="quick-popular-articles">
          {{#popular_work}}
              <div class="post">
                <div class="inner pure-u-1 pure-u-md-2-3">
                <h3><a href="/{{type}}/{{id}}">{{title}}</a></h3>
                <h4>by <a href="/author/{{author_id}}">{{author_name}}</a></h4>
                </div><!--inner--><div class="thumb pure-u-1 pure-u-md-1-3">
                  <img src="{{#assets}}{{url}}{{/assets}}" alt="picture"/>
                </div><!--thumb-->
              </div>
          {{/popular_work}}
          </div><!--quick-popular-articles-->
        </div><!--quick-articles-->
      </aside><!--pure-->
          
<div class="flex-items">
      {{#tertiary_work}}
<div class="watt-article pure-u-1 pure-u-md-1-3 tertiary {{template_additional}} {{type}}">
        <div id="{{author_id}}" class="inner">
<a class="wrap-link" href="/{{type}}/{{id}}"><div class="sixteen-nine">
      <div class="sn-content" style="background-image:url('{{#assets}}{{url}}{{/assets}}');">
    </div><!--sn-content-->
  </div><!--sixteen-nine--></a><!--wrap-link-->
          <div class="corner-marker"></div><!--important-->
                  <h2><a href="/{{type}}/{{id}}">{{title}}</a></h2>
                  <p>{{description}}</p> 
                  <footer><h4>by <a href="/author/{{author_id}}">{{author_name}}</a></h4></footer>
        </div><!--inner-->

                 
  </div><!--watt-archive-->{{/tertiary_work}}
  </div><!--flex-items-->
</section>

</section><!--max-width-->

<section class="pure-u-1 featured-video-section">
{{#featured_video}}
<section class="max-width">
<h2>Featured video: <span class="feat-title">{{title}}</span></h2>
<div class="pure-u-1 pure-u-md-2-3">
<div class="featured-video">
<div class="featured-video-bg" style="background-image:url('{{#assets}}{{url}}{{/assets}}');">
<div class="featured-video-content">
  <!--If Video embed present-->
  {{#embed_url}}
    <div class="video-inner">
       {{#youtube}}
          <iframe width='560' height='315' src='{{embed_url}}?vq=hd1080&showinfo=0' frameborder='0' allowfullscreen></iframe>
       {{/youtube}}
    </div><!--video-inner-->
  {{/embed_url}}

</div><!--featured-video-content-->

</div><!--featured-video-bg-->
</div><!--featured-video-->
</div><!--pure--><div class="pure-u-1 pure-u-md-1-3 quick-video-container"><div class="quick-articles">
<div class="quick-recent-video">
  {{#recent_video}}
    <div class="post">
        <div class="inner pure-u-1 pure-u-md-2-3">
          <h3><a href="/{{type}}/{{id}}" target="_blank">{{title}}</a></h3>
          <h4>by <a href="/author/{{author_id}}">{{author_name}}</a></h4>
        </div><!--inner--><div class="thumb pure-u-1 pure-u-md-1-3">
          <img src="{{#assets}}{{url}}{{/assets}}" alt="picture"/>
        </div><!--thumb-->
    </div><!--post-->
  {{/recent_video}}
    </div><!--quick-recent-video-->
  </div><!--quick-articles-->
  </div><!--pure-->
</section><!--max-width-->
{{/featured_video}}
</section>


<section class="article-content max-width">
<section class="quaternary-container">
  {{#quaternary_work}}<div class="watt-article pure-u-1 pure-u-md-1-6 quaternary">
      <div class="inner">
        <h3><a href="/{{type}}/{{id}}">{{title}}</a></h3>
          <h4>by <a href="/author/{{author_id}}">{{author_name}}</a></h4>
        </div><!--inner-->
  </div>{{/quaternary_work}}
</section>

<section class="pure-u-1">
<a class="more-link dark" href="/all">View all articles</a>
</section>
</section><!--article-content-->

</main><!--#main-->

<!--SITE FOOTER-->
{{{footer}}}
