<!doctype html>
<!--
    ____________________________
  /|............................|
 | |:     	 CASH MUSIC        :|
 | |:     " cashmusic.org "    :|
 | |:     ,-.   _____   ,-.    :|
 | |:    ( `)) [_____] ( `))   :|
 |v|:     `-`   ' ' '   `-`    :|
 |||:     ,______________.     :|
 |||...../::::o::::::o::::\.....|
 |^|..../:::O::::::::::O:::\....|
 |/`---/--------------------`---|
 `.___/ /====/ /=//=/ /====/____/
      `--------------------'

-->

<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>CASH Music</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" href="https://static-cashmusic.netdna-ssl.com/www/apple-touch-icon.png">
        <!-- Place favicon.ico in the root directory -->
        <link rel="shortcut icon" href="https://static-cashmusic.netdna-ssl.com/www/favicon.png" type="image/png">

        <link rel="stylesheet" href="https://static-cashmusic.netdna-ssl.com/www/css/normalize.css">
        <link rel="stylesheet" href="https://static-cashmusic.netdna-ssl.com/www/css/font-mapping.css">
        <link rel="stylesheet" href="../css/nav.css">
        <link rel="stylesheet" href="../css/main.css">
        <script src="https://static-cashmusic.netdna-ssl.com/www/js/vendor/modernizr-2.8.3.min.js"></script>

        <link rel="stylesheet" href="https://static-cashmusic.netdna-ssl.com/www/css/pure/base-min.css">
        <!--[if lte IE 8]>
  		<link rel="stylesheet" href="https://static-cashmusic.netdna-ssl.com/www/css/pure/grids-responsive-old-ie-min.css">
		<![endif]-->
		<!--[if gt IE 8]><!-->
        <link rel="stylesheet" href="https://static-cashmusic.netdna-ssl.com/www/css/pure/grids-responsive-min.css">
		<!--<![endif]-->

        <!--Fonts-->
		<link href='https://fonts.googleapis.com/css?family=Caesar+Dressing|Playfair+Display|Montserrat:400,700|Nunito:300,400,700' rel='stylesheet' type='text/css'>

        <!--Mobile Viewport -->
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="viewport" content="initial-scale=1.0,user-scalable=no">

        <!--Open Graph Meta Data-->
        <?php include(__DIR__.'/ogmeta.php') ?>

        <script type="text/javascript" src="https://cashmusic.org/public/cashmusic.js"></script>
        <script type="text/javascript" src="../js/main.js"></script>
        <script type="text/javascript" src="../js/color_test.js"></script>

        </script>

    </head>

    <body class="static-nav">
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
       <div id="wrapper">
        <header role="banner">
            <div id="constant">
   <div id="top" class="hide">
       <h1 class="logo"><a href="https://cashmusic.org/"><div class="icon icon-logo"><span>CASH Music</span></div></a></h1><!--logo-->
      <nav class="pure-u-1 pure-u-md-1-2">
          <ul class="pure-u-1">
              <li class=""><a class="home" href="https://cashmusic.org/">Home</a></li><li class=""><a class="about" href="http://about.cashmusic.org/">About us</a></li><li class=""><a class="platform" href="http://platform.cashmusic.org/">Tools</a></li><li class=""><a class="education" href="http://education.cashmusic.org/">Education</a></li><li class=""><a href="https://medium.com/cash-music" target="_blank">Blog</a></li><li class=""><a class="donate" href="http://donate.cashmusic.org/">Donate</a></li>
          </ul>
      </nav>
          <div id="platform-signup">
              <a href="https://cashmusic.org/admin/dosignup/" target="_blank">Sign up</a> <span>or</span><a class="login" href="https://cashmusic.org/admin/" target="_blank">Login</a>
          </div><!--platform-signup-->
   </div><!--top-->
   <div class="tag-nav">
     <div class="tag-drawer"><h3>Explore</h3></div>
     <div class="inner">
       <div class="pure-u-1 pure-u-md-1-2 ">
         <h3>Tags</h3>
         <ul class="twocol">
           {{#tag_list}}
             <li><a href="/tag/{{tag}}">{{tag}}</a></li>
           {{/tag_list}}
         </ul>
       </div><!--pure--><div class="pure-u-1 pure-u-md-1-2">
         <h3>Authors</h3>
         <ul class="twocol">
           {{#work}}
             <li><a href="/author/{{author_id}}">{{author_name}}</a></li>
           {{/work}}
         </ul>
       </div><!--pure-->
     </div><!--inner-->
 </div><!--tag-nav-->
   <div id="collapsed" class="hide">
      <h1 class="logo"><a href="https://cashmusic.org/"><div class="icon icon-logo"><span>CASH Music</span></div></a></h1><!--logo-->
      <div class="menutoggle"><span></span><span></span><span></span></div><!-- menutoggle -->
          <div id="platform-signup">
              <a href="http://cashmusic.org/admin/dosignup/" target="_blank">Sign up</a> <span>or</span><a class="login" href="http://cashmusic.org/admin/" target="_blank">Login</a>
          </div><!--platform-signup-->
      <nav>
          <ul class="pure-u-1">
              <li><a class="home" href="https://cashmusic.org/">Home</a></li><li><a class="about" href="http://about.cashmusic.org/">About us</a></li><li><a class="platform" href="http://platform.cashmusic.org/">Tools</a></li><li><a class="education" href="http://education.cashmusic.org/">Education</a></li><li><a href="https://medium.com/cash-music" target="_blank">Blog</a></li><li><a class="donate" href="http://donate.cashmusic.org/">Donate</a></li>
          </ul>
      </nav>
      <div class="overview">
        <div class="overview-inner">
         <div class="pure-u-1 pure-u-md-1-2">
           <div class="overview-content">
             <h5>TLDR;</h5>
             <h2>CASH Music is a nonprofit sharing music industry knowledge from artist's perspectivies &amp; building free, open tools that give artists control of their careers.</h2>
             <p>Music has always had the power to change the world we live in. It is ingrained into the fabric of human existence. It’s not about technology or convience, but people sharing what they feel about their time on earth. We think it is important to listen to it’s creators and support them, because with out them we’d all be totally lost.</p>
           </div><!--overview-content-->
         </div><!--pure--><div class="pure-u-1 pure-u-md-1-2">
           <div class="pure-u-1 pure-u-md-1-2"><div class="overview-content"><h5>Our Tools</h5><img src="http://static.cashmusic.netdna-cdn.com/www/img/platform/platform-screen_v9.jpg" alt="CASH Platform"/><p>Manage your mailing list, sell your music, organize your digital world. The CASH Music platform is free to use, now and forever.</p></div><!--overview-content--></div><!--pure--><div class="pure-u-1 pure-u-md-1-2"><div class="overview-content"><h5>WATT</h5><img src="http://static.cashmusic.netdna-cdn.com/www/img/platform/platform-screen_v9.jpg" alt="CASH Platform"/>
             <p>educational resources for musicians</p>
           </div><!--overview-content--></div><!--pure-->
           <div class="pure-u-1 pure-u-md-1-4">
             <h5 class="nav-header">Read</h5>
             <ul>
               <li><a href="">Home</a></li>
               <li><a href="">Blog</a></li>
             </ul>
           </div><!--pure--><div class="pure-u-1 pure-u-md-1-4">
             <h5  class="nav-header">About</h5>
             <ul>
               <li><a href="">Mission</a></li>
               <li><a href="">Team</a></li>
               <li><a href="">Board</a></li>
               <li><a href="">Advisors</a></li>
             </ul>
           </div><!--pure--><div class="pure-u-1 pure-u-md-1-4">
             <h5  class="nav-header">Tools</h5>
             <ul>
               <li><a href="">Platform</a></li>
               <li><a href="">Venue Data</a></li>
               <li><a href="">Cashmusic.js</a></li>
               <li><a href="">Support</a></li>
               <li><a href="">Developers</a></li>
             </ul>
           </div><!--pure--><div class="pure-u-1 pure-u-md-1-4">
             <h5  class="nav-header">Developers</h5>
             <ul>
               <li><a href="">Documentation</a></li>
               <li><a href="">Github</a></li>
             </ul>
           </div><!--pure-->
       </div><!--pure-->
      </div><!--overview-inner-->
      </div><!--overview-->
   </div><!--collapsed-->
</div><!--constant-->
</header>

<!--SITE HEADER END (REMOVE LATER)-->


<main id="main" class="article-page static pure-g" role="main">
<article class="pure-u-1 expanded">
  <div id="hash-hero" role="hero">
      <h2 class="watt-logo">WATT</h2>
      <h3>We've been building free, open source tools directly with artists for years but to truly empower musicians it is vital that we pair those tools with educational resources. The combination of tools and learning will truly make for a sustainable future for musicians.</h3>
      <div class="mouse"></div><!--mouse-->
  </div><!--hero-->
  <section class="article-content">

    {{#featured_work}}
    <div class="pure-u-1 featured-work {{type}}">
        <div class="featured-banner {{template_blend}} {{template_bg_style}}" style="background-image:url('{{#assets}}{{url}}{{/assets}}');">
            <h2><a href="/{{type}}/{{id}}">{{title}}</a></h2>
              <h3>{{description}}</h3>
              <a class="more-link" href="/{{type}}/{{id}}">Read more</a>
        </div><!--featured-banner-->
        <div class="featured-body">
            {{{featured_body}}}
      </div><!--featured-body-->
        {{/featured_work}}

<section class="pure-u-1">
<h3>Featured articles:</h3>
</section>
<div id="archive" class="pure-u-1">
<section class="pure-u-1">
  {{#secondary_work}}<div class="article-archive pure-u-1 pure-u-md-1-2 secondary {{template_additional}} {{type}}">
    <!--If Video embed present-->
    {{#assets}}{{#embed}}
    <div class="video_inner">
      {{{embed}}}
    </div><!--video_inner-->
    {{/embed}}{{/assets}}
    <div id="{{author_id}}" class="inner {{template_blend}}" style="background-image:url('{{#assets}}{{url}}{{/assets}}');">
        <h2><a href="/{{type}}/{{id}}">{{title}}</a></h2>
        <h4><a href="/author/{{id}}">{{author_name}}</a></h4>
          <p>{{description}}</p>
        <a class="more-link" href="/{{type}}/{{id}}">Read more</a>
      </div><!--inner--></div><!--article-archive-->{{/secondary_work}}{{#tertiary_work}}
<div class="article-archive pure-u-1 pure-u-md-1-4 {{template_additional}} {{type}}">
  <a class="wrap-link" href="/{{type}}/{{id}}"><div class="sixteen-nine">
      <div class="sn-content" style="background-image:url('{{#assets}}{{url}}{{/assets}}');">
    </div><!--sn-content-->
  </div><!--sixteen-nine--></a><!--wrap-link-->
        <div id="{{author_id}}" class="inner">
          <div class="corner-marker"></div><!--important-->
				          <h2><a href="/{{type}}/{{id}}">{{title}}</a></h2>
				 	        <h4><a href="/author/{{id}}">{{author_name}}</a></h4>
                  <p>{{description}}</p>
                  <a class="more-link" href="/{{type}}/{{id}}">Read more</a>
        </div><!--inner-->
	</div><!--article-archive-->{{/tertiary_work}}
</section>
<section class="pure-u-1 space-out">
  {{#quaternary_work}}<div class="article-archive pure-u-1 pure-u-md-1-4 quaternary">
    <div class="quaternary-outer"  style="background-image:url('{{#assets}}{{url}}{{/assets}}');">
      <div class="inner">
        <h2><a href="/{{type}}/{{id}}">{{title}}</a></h2>
          <h4><a href="/author/{{id}}">Written by: {{author_name}}</a></h4>
        </div><!--inner-->
    </div><!--quarternary-->
  </div>{{/quaternary_work}}
</section>
<section class="pure-u-1 pure-u-md-1-2">
    <h3>Featured tags:</h3>
    <ul class="tags">
  {{#featured_tags}}
    <li><a class="tag" href="/tag/{{.}}">{{.}}</a></li>
  {{/featured_tags}}
</ul>
</section><section class="pure-u-1 pure-u-md-1-2">
    <h3>Featured authors:</h3>
    <ul class="tags">
  {{#featured_authors}}
    <li><a class="tag" href="/author/{{.}}">{{.}}</a></li>
  {{/featured_authors}}
</ul>
</section>

</div><!--archive-->
</section><!--article-content-->
</article>

</main><!--#main-->

<!--SITE FOOTER START (REMOVE LATER)-->
<footer role="contentinfo">

        <script type="text/javascript" src="https://cashmusic.org/public/cashmusic.js"></script>
        <script type="text/javascript"> window.cashmusic.embed({endpoint:'https://cashmusic.org/public',elementid:'7748',cssoverride:'#mainspc{padding:10px 0px 0 0px; background:rgba(0,0,0,0); color:#999; margin-bottom:30px;}input{border-color:#999;}.cash_notation{color:#999}input[type=text]:focus, input[type=email]:focus, input[type=password]:focus, textarea:focus{background:#111; color:#999;}'});</script>

            <div class="brand-partner">

            </div><!--brand-partner-->
                <div class="supporters">
                    <a class="pure-u-1 pure-u-md-2-5" href="https://www.shuttleworthfoundation.org/" target="_blank"><img src="https://static-cashmusic.netdna-ssl.com/www/img/constant/supporters/shuttleworth.png" alt="Shuttleworth"/></a><a class="pure-u-1-3 pure-u-md-1-5" href="https://www.maxcdn.com/" target="_blank"><img src="https://static-cashmusic.netdna-ssl.com/www/img/constant/supporters/maxcdn.png" alt="MAXCDN"/></a><a class="pure-u-1-3 pure-u-md-1-5" href="http://mailchimp.com/" target="_blank"><img src="https://static-cashmusic.netdna-ssl.com/www/img/constant/supporters/mailchimp.png" alt="Mailchimp"/></a><a class="pure-u-1-3 pure-u-md-1-5" href="http://www.rackspace.com/" target="_blank"><img src="https://static-cashmusic.netdna-ssl.com/www/img/constant/supporters/rackspace.png" alt="Rackspace"/></a>
                </div><!--supporters-->
            <nav>
                <div  class="pure-u-1-2 pure-u-md-1-5">
                <h6 class="title">Read</h6>
                <ul>
                    <li><a href="https://cashmusic.org/">Home</a></li>
                    <li><a href="https://medium.com/cash-music">Blog</a></li>
                </ul>
                </div><!--pure--><div  class="pure-u-1-2 pure-u-md-1-5">
                <h6 class="title">About</h6>
                <ul>
                    <li><a href="http://about.cashmusic.org/#mission">Mission</a></li>
                    <li><a href="http://about.cashmusic.org/#team">Team</a></li>
                    <li><a href="http://about.cashmusic.org/#board">Board</a></li>
                    <li><a href="http://about.cashmusic.org/#advisors">Advisors</a></li>
                </ul>
                </div><!--pure--><div  class="pure-u-1-2 pure-u-md-1-5">
                <h6 class="title">Tools</h6>
                <ul>
                    <li><a href="http://platform.cashmusic.org/">Platform</a></li>
                    <li><a href="http://venues.cashmusic.org/" target="_blank">Venue Data</a></li>
                    <li><a href="http://cashmusic.github.io/cashmusic.js/">Cashmusic.js</a></li>
                    <li><a href="http://help.cashmusic.org/">Support</a></li>
                </ul>
                </div><!--pure--><div  class="pure-u-1-2 pure-u-md-1-5">
                <h6 class="title">Developers</h6>
                <ul>
                    <li><a href="https://cashmusic.org/docs/">Documentation</a></li>
                    <li><a href="https://github.com/cashmusic/platform">Github</a></li>
                </ul>
                </div><!--pure--><div  class="pure-u-1 pure-u-md-1-5">
                <h6 class="title">Social</h6>
                <ul>
                    <li><a href="https://twitter.com/cashmusic">Twitter</a></li>
                    <li><a href="https://instagram.com/cashmusicorg/">Instagram</a></li>
                    <li><a href="https://www.facebook.com/cashmusic.org">Facebook</a></li>
                    <li><a href="https://www.youtube.com/user/cashmusicorg">Youtube</a></li>
                    <li><a href="https://cashmusic-slack.herokuapp.com/">Slack</a></li>
                </ul>
                </div><!--pure-->
            </nav>
                <h5>CASH Music is a <a href="https://medium.com/cash-music/the-organization-is-our-protest-song-1c9b01ea3ceb" target="_blank">nonprofit</a> working on <a href="http://about.cashmusic.org/" >free</a> &amp; <a href="https://medium.com/cash-music/jumping-off-cliffs-c112de91c5fd" target="_blank">open</a> <a href="https://platform.cashmusic.org/">tools</a> that give artists control of their careers</a></h5>
                <h6>&copy; 2016 CASH Music. All our code is open-source and free forever.<br/>Authors retain all rights to any works on this page, sharing them under a <a href="http://creativecommons.org/licenses/by/4.0/" target="_blank">CC BY license</a> unless otherwise noted.</h6>
        </footer>
        </div><!--wrapper-->

        <!--twitter-->
        <script type="text/javascript" src="//platform.twitter.com/widgets.js"></script>

        <!-- Google Analytics -->
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='https://www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-55083593-1','auto');ga('send','pageview');
        </script>

        <!-- Load Facebook SDK for JavaScript -->
        <div id="fb-root"></div>
        <script>(function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1";
            fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));
        </script>
    </body>
</html>
