<h4 class="share-title">Share article:</h4>
<ul class="social">
    <li><a href="https://twitter.com/intent/tweet?url={{location}}&via=cashmusic"><img src="https://static-cashmusic.netdna-ssl.com/www/img/constant/social/twitter-logo.svg"/></a></li>
    <li><a href="http://www.facebook.com/share.php?u={{location}}"><img src="https://static-cashmusic.netdna-ssl.com/www/img/constant/social/facebook-logo.svg"/></a></li>
    <li><a href="http://www.tumblr.com/share/link?url={{location}}"><img src="https://static-cashmusic.netdna-ssl.com/www/img/constant/social/tumblr-logo.svg"/></a></li>
    <li><a href="http://www.reddit.com/submit?url={{{location}}}"><img src="https://static-cashmusic.netdna-ssl.com/www/img/constant/social/reddit-logo.svg"/></a></li>
</ul>
