{{{header}}}
<!--SITE HEADER-->

 <div class="pure-u-1 pure-u-md-2-3 title-area tags">
  <h4>Article tag</h4>
      <h1>{{title}}</h1>
     <h2>{{description}}</h2>
    </div><!--title-area-->

    </div><!--hero-->
</div><!--featured-work-->

<section class="pure-u-1 article-content max-width">
{{#work}}
<div class="watt-article pure-u-1 pure-u-md-1-2 {{template_additional}} {{type}}">
  <a class="wrap-link" href="/{{type}}/{{id}}"><div class="sixteen-nine">
      <div class="sn-content" style="background-image:url('{{#assets}}{{url}}{{/assets}}');">
    </div><!--sn-content-->
  </div><!--sixteen-nine--></a><!--wrap-link-->
        <div id="{{author_id}}" class="inner">
          <div class="corner-marker"></div><!--important-->
                  <h2><a href="/{{type}}/{{id}}">{{title}}</a></h2>
                  <p>{{description}}</p>
                  <h4>by <a href="/author/{{author_id}}">{{author_name}}</a></h4>
                  
        </div><!--inner-->
  </div><!--watt-article-->{{/work}}

</section>

</main><!--#main-->

<!--SITE FOOTER-->
{{{footer}}}
