{{{header}}}
<!--SITE HEADER-->


<!--Article Inline Styles-->
<style type="text/css">
    {{template_styles}}
</style>

<main id="main" class="article-page pure-g" role="main">

<article id="{{id}}" class="pure-u-1 expanded {{template}} {{template_additional}}">
  <section class="article-content">

    <section class="pure-u-1 pure-u-md-3-4">
      <h4 class="date">{{display_time}}</h4>
      <div class="article-title">
        <h1>{{title}}</h1>
      </div>
    </section><section class="article-social pure-u-1 pure-u-md-1-4">
      {{{display_share}}}
    <div class="author-title">
      {{{display_byline}}}
    </div><!--author-title-->
    </section>

		<section class="pure-u-1 inner-content">
      {{{content}}}
		</section>

    <footer class="pure-u-1">
      <h4>Tags:</h4>
      <ul class="tags">
          {{#tags}}
               <li><a class="tag" href="/tag/{{tag}}">{{tag}}</a></li>
          {{/tags}}
      </ul>
      {{#license}}<p class="cc-license {{license}}">Copy distributed under the <strong>{{license}}</strong> creative commons license.</p>{{/license}}
      {{#assets}}<a class="inline-credit-footer" href="{{#credits}}{{user_url}}{{/credits}}" target="_blank"><p>{{#license}}<span class="cc-license-image {{license}}"></span>{{/license}}Image <span>{{#credits}}{{username}}{{/credits}}</span></p></a>{{/assets}}

    </footer>
  </section><!--article-content-->
</article>
</main><!--main-->


<!--SITE FOOTER-->
{{{footer}}}
