{{{header}}}
<!--SITE HEADER-->

<!--Article Inline Styles-->
<style type="text/css">
    {{template_styles}}
</style>

<main id="main" class="article-page pure-g" role="main">

<article id="{{author_id}}" class="pure-u-1 expanded {{template}} {{template_additional}}">
               <header class="bg-center" style="background-image: url({{assets.0.url}});">
                 <section class="inline-head">
                 <h4 class="date">{{display_time}}</h4>
                 <h1 class="page-title">{{title}}</h1>
                </section>
                  <footer>
                    {{{display_byline}}}
                  </footer>
                  <a class="inline-credit" href="{{#assets}}{{#credits}}{{user_url}}{{/credits}}{{/assets}}" target="_blank"><p>Image <span>{{#assets}}{{#credits}}{{username}}{{/credits}}{{/assets}}</span></p></a>
              </header>
  <section class="article-content">
		<section class="pure-u-1">
      	{{{content}}}
		</section>
  </section><!--article-content-->

		<footer class="pure-u-1">
			<h4>Tags:</h4>
      <ul class="tags">
          {{#tags}}
               <li><a class="tag" href="/tag/{{tag}}">{{tag}}</a></li>
          {{/tags}}
      </ul>

      {{{display_share}}}
      {{{display_byline}}}
    </footer>

</article>
</main><!--main-->

<!--SITE FOOTER-->
{{{footer}}}
